# Assignments: Data Structures in Python

#### 1. Write a code to reverse a string.

In [1]:
str=input("Enter a word\n")
print(f"Reverse of {str} : ",str[::-1])

Enter a word
 Rahul

Reverse of Rahul :  luhaR

#### 2. Write a code to count the number of vowels in a string.

In [2]:
str=input("Enter a word\n")
count=0
str=str.lower()
for s in str:
  if(s=='a' or s=='e' or s=='i' or s=='o' or s=='u'):
    count+=1
print(f"Number of vowels in {str} : ",count)

Enter a word
 aeiou

Number of vowels in aeiou :  5

#### 3. Write a program to check if a given string is a palindrome or not.

In [2]:
str=input("Enter a word\n")
s=str[::-1]
if(s==str):
  print(f"{str} is a palindrome")
else:
  print(f"{str} is not a palindrome")

Enter a word
 Rahul

Rahul is not a palindrome

#### 4. Write a program to check if two given string are anagrams of each other.

In [2]:
str1=input("Enter first word\n")
str1=str1.lower()
str2=input("Enter second word\n")
str2=str2.lower()
if(sorted(str1)==sorted(str2)):
  print(f"{str1} and {str2} are anagrams")
else:
  print(f"{str1} and {str2} are not anagrams")

Enter first word
 Rahul
Enter second word
 luhar

rahul and luhar are anagrams

#### 5. Write a code to find all occurences of a given substring within another string.

In [4]:
str1=input("Enter the string\n")
str2=input("Enter the substring\n")
index=0
if str2 in str1:
  while index < len(str1):
    index = str1.find(str2, index)
    if index == -1:
        break
    print(f'Substring "{str2}" found at index {index}')
    index += len(str2)
else:
  print(f'Substring "{str2}" not found in "{str1}"')

Enter the string
 RahulRaRa
Enter the substring
 Ra

Substring "Ra" found at index 0
Substring "Ra" found at index 5
Substring "Ra" found at index 7

#### 6. Write a code to perform basic string compression using the counts of repeated character.

#### 7. Write a code to determine if a string has all unique characters.

In [9]:
def uniqStr(str):
    a=""
    for x in str:
        if x not in a:
            a+=x
    if(a==str):
        print(f"{str} have all unique characters.")
    else:
        print(f"{str} do not have all unique characters.")

uniqStr("Rahul")
uniqStr("RahulR")

Rahul have all unique characters.
RahulR do not have all unique characters.

#### 8. Write a code to convert a given string to uppercase or lowercase.

In [10]:
def toUperCase(str):
    return str.upper()
def tolowrCase(str):
    return str.lower()

print(toUperCase("RAhul"))
print(tolowrCase("Rahul"))

RAHUL
rahul

#### 9. Write a code to count the number of words in a string.

In [12]:
def countWords(str):
    count=0
    for x in str:
        if(x==" "):
            count+=1
    return count+1
print(countWords("My name is Rahul Singh"))

5

#### 10. Write a code to concatenate two strings without using the + operators.

In [13]:
def concStr(str1, str2):
    return str1+str2
print(concStr("Rahul ","Singh"))

Rahul Singh

#### 11. Write a code to remove all occurrences of a specific element from a lists.

In [6]:
def remList(l,e):
    return [x for x in l if x != e]
    # while e in l:
    #     l.remove(e)
    # return l
print(remList([1,2,2,3,4,2,2,1,3],2))

[1, 3, 4, 1, 3]

#### 12. Implement a code to find the second largest number in a given list of integers.

In [11]:
def secLarg(l):
    larg=-1
    secLarg=-1
    for x in l:
        if(x>larg):
            larg,secLarg=x,larg
        elif(x>secLarg):
            secLarg=x
    return secLarg

print(secLarg([9,1,4,6,3,1,2,4,5,5,5,2,1,3.2,1]))

6

#### 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [13]:
def countOcc(l):
    d={}
    for x in l:
        if(x in d):
            d[x]+=1
        else:
            d[x]=1
    return d

print(countOcc([9,1,4,6,3,1,2,4,5,5,5,2,1,3,2,1]))

{9: 1, 1: 4, 4: 2, 6: 1, 3: 2, 2: 3, 5: 3}

#### 14.  Write a code to reverse a list in-place without using any built-in reverse functions.

In [18]:
def revList(l):
    n=len(l)
    for x in range(int(n/2)):
        l[x],l[n-x-1]=l[n-x-1],l[x]
    return l
print(revList([1,2,3,4,5,6]))

[6, 5, 4, 3, 2, 1]

#### 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [19]:
def remDup(l):
    rem=[]
    for x in l:
        if x not in rem:
            rem.append(x)
    return rem
print(remDup([9,1,4,6,3,1,2,4,5,5,5,2,1,3,2,1]))

[9, 1, 4, 6, 3, 2, 5]

#### 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [3]:
def checkAsc(l):
    for x in range(len(l)-1):
        if l[x]>l[x+1]:
            return False
    return True
    
def checkDes(l):
    for x in range(len(l)-1):
        if l[x]<l[x+1]:
            return False
    return True
        
def checkSorted(l):
    if(checkAsc(l) or checkDes(l)):
        print("List is Sorted.")
    else:
        print("List is not Sorted.")
        
checkSorted([1,2,3,4,56,67])
checkSorted([9,8,7,6,5,45,3,1])

List is Sorted.
List is not Sorted.

#### 17. Write a code to merge two sorted lists into a single sorted lists.

In [8]:
def merge(l1,l2):
    i=0
    j=0
    m=[]
    n=min(len(l1),len(l2))
    while i < len(l1) and j < len(l2):
          if(l1[i]<l2[j]):
              m.append(l1[i])
              i+=1
          else:
              m.append(l2[j])
              j+=1
    for x in range(i,len(l1)):
          m.append(l1[i])
          i+=1
    for x in range(j,len(l2)):
          m.append(l2[j])
          j+=1
    print(m)
          
l1=[1,3,5,7,9,11,12,13]
l2=[2,4,6,8,10]
merge(l1,l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

#### 18. Implement a code to find the intersection of two given lists.

In [9]:
def intersection(l1, l2):
    m=[]
    for x in l1:
        if x in l2:
            m.append(x)
    return m

l1=[12,1,2,334,123,11]
l2=[1,19,21,334,123,11]
intersection(l1,l2)

[1, 334, 123, 11]

#### 19. Create a code to find the union of two lists without duplicates.

In [10]:
def union(l1,l2):
    m=[]
    for x in l1:
        m.append(x)
    for x in l2:
        if x not in m:
            m.append(x)
    return m

l1=[12,1,2,334,123,11]
l2=[1,19,21,334,123,11]
union(l1,l2)

[12, 1, 2, 334, 123, 11, 19, 21]

#### 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

#### 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [17]:
def commonTuple(t1,t2):
    t=tuple()
    for x in t1:
        if x in t2:
            t=t + (x,)
    return t

t1=(12,1,2,334,123,11)
t2=(1,19,21,334,123,11)
commonTuple(t1,t2)

(1, 334, 123, 11)

#### 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then print the intersection of these two sets.

In [3]:
s1=set()
n=int(input("enter elements of Set 1(Enter 0 to terminate set 1) : "))
while(n!=0):
    s1.add(n)
    n=int(input("enter elements of Set 1(Enter 0 to terminate set 1) : "))

s2=set()
n=int(input("enter elements of Set 2(Enter 0 to terminate set 2) : "))
while(n!=0):
    s2.add(n)
    n=int(input("enter elements of Set 2(Enter 0 to terminate set 2) : "))

a=set()
for x in s1:
    if x in s2:
        a.add(x)
print(a)

enter elements of Set 1(Enter 0 to terminate set 1) :  1
enter elements of Set 1(Enter 0 to terminate set 1) :  3
enter elements of Set 1(Enter 0 to terminate set 1) :  5
enter elements of Set 1(Enter 0 to terminate set 1) :  2
enter elements of Set 1(Enter 0 to terminate set 1) :  0
enter elements of Set 2(Enter 0 to terminate set 2) :  2
enter elements of Set 2(Enter 0 to terminate set 2) :  4
enter elements of Set 2(Enter 0 to terminate set 2) :  5
enter elements of Set 2(Enter 0 to terminate set 2) :  1
enter elements of Set 2(Enter 0 to terminate set 2) :  0

{1, 2, 5}

#### 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [1]:
def concTuple(t1,t2):
    return t1+t2
t1=(12,1,2,334,123,11)
t2=(1,19,21,334,123,11)
concTuple(t1,t2)

(12, 1, 2, 334, 123, 11, 1, 19, 21, 334, 123, 11)

#### 24. Develop a code that prompts the user to input two sets of strings. Then print the elements that are present in the first set but not in the second sets.

In [2]:
s1=set()
n=input("enter elements of Set 1(Enter 0 to terminate set 1) : ")
while(n!="0"):
    s1.add(n)
    n=input("enter elements of Set 1(Enter 0 to terminate set 1) : ")
    
print("Set 1 completed")

s2=set()
n=input("enter elements of Set 2(Enter 0 to terminate set 2) : ")
while(n!="0"):
    s2.add(n)
    n=input("enter elements of Set 2(Enter 0 to terminate set 2) : ")
    
s=set()
for x in s1:
    if x not in s2:
        s.add(x)
print(s)

enter elements of Set 1(Enter 0 to terminate set 1) :  MY
enter elements of Set 1(Enter 0 to terminate set 1) :  NAME
enter elements of Set 1(Enter 0 to terminate set 1) :  IS
enter elements of Set 1(Enter 0 to terminate set 1) :  RAHUL
enter elements of Set 1(Enter 0 to terminate set 1) :  SINGH
enter elements of Set 1(Enter 0 to terminate set 1) :  0

Set 1 completed

enter elements of Set 2(Enter 0 to terminate set 2) :  RAHUL
enter elements of Set 2(Enter 0 to terminate set 2) :  SINGH
enter elements of Set 2(Enter 0 to terminate set 2) :  PLAYS
enter elements of Set 2(Enter 0 to terminate set 2) :  CRICKET
enter elements of Set 2(Enter 0 to terminate set 2) :  0

{'NAME', 'MY', 'IS'}

#### 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [7]:
def subTup(t1,a,b):
    t=()
    for x in range(a,b+1):
        t+=(t1[x],)
    return t
t1=(12,1,2,334,123,11)
subTup(t1,2,5)

(2, 334, 123, 11)

#### 26. Write a code that prompts the user to input two sets of characters.Then print the union of these two sets.

In [12]:
def unionS(s1,s2):
    return s1|s2


s1=set()
n=input("enter elements of Set 1(Enter 0 to terminate set 1) : ")
while(n!="0"):
    s1.add(n)
    n=input("enter elements of Set 1(Enter 0 to terminate set 1) : ")
    
print("Set 1 completed")

s2=set()
n=input("enter elements of Set 2(Enter 0 to terminate set 2) : ")
while(n!="0"):
    s2.add(n)
    n=input("enter elements of Set 2(Enter 0 to terminate set 2) : ")
    
    
unionS(s1,s2)

enter elements of Set 1(Enter 0 to terminate set 1) :  a
enter elements of Set 1(Enter 0 to terminate set 1) :  b
enter elements of Set 1(Enter 0 to terminate set 1) :  c
enter elements of Set 1(Enter 0 to terminate set 1) :  0

Set 1 completed

enter elements of Set 2(Enter 0 to terminate set 2) :  a
enter elements of Set 2(Enter 0 to terminate set 2) :  c
enter elements of Set 2(Enter 0 to terminate set 2) :  b
enter elements of Set 2(Enter 0 to terminate set 2) :  e
enter elements of Set 2(Enter 0 to terminate set 2) :  d
enter elements of Set 2(Enter 0 to terminate set 2) :  0

{'a', 'b', 'c', 'd', 'e'}

#### 27. Dvelop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [1]:
def tupMaxMin(t1):
    max_val = t1[0]
    min_val = t1[0]
    for x in t1:
        if x > max_val:
            max_val = x
        if x < min_val:
            min_val = x
            
    return (min_val, max_val)


t1 = ()
n = int(input("Enter elements of Tuple 1 (Enter 0 to terminate Tuple 1): "))
while n != 0:
    t1 = t1 + (n,)
    n = int(input("Enter elements of Tuple 1 (Enter 0 to terminate Tuple 1): "))
    
t=tupMaxMin(t1)
min_val, max_val = t
print("minimum : ", min_val," maximum : ",max_val)

Enter elements of Tuple 1 (Enter 0 to terminate Tuple 1):  9
Enter elements of Tuple 1 (Enter 0 to terminate Tuple 1):  1
Enter elements of Tuple 1 (Enter 0 to terminate Tuple 1):  0

minimum :  1  maximum :  9

#### 28. Create a code that defines two sets of integers. Then print the union intersection and difference of these two sets.

In [4]:
def unionS(s1,s2):
    return s1|s2

def Intersection(s1,s2):
    return s1 & s2

def difference(s1,s2):
    return s1-s2

s1=set()
n=input("enter elements of Set 1(Enter 0 to terminate set 1) : ")
while(n!="0"):
    s1.add(n)
    n=input("enter elements of Set 1(Enter 0 to terminate set 1) : ")
    
print("Set 1 completed")

s2=set()
n=input("enter elements of Set 2(Enter 0 to terminate set 2) : ")
while(n!="0"):
    s2.add(n)
    n=input("enter elements of Set 2(Enter 0 to terminate set 2) : ")
    
print("union : ",unionS(s1,s2))
print("Intersection : ",Intersection(s1,s2))
print("difference : ",difference(s1,s2))

enter elements of Set 1(Enter 0 to terminate set 1) :  9
enter elements of Set 1(Enter 0 to terminate set 1) :  1
enter elements of Set 1(Enter 0 to terminate set 1) :  8
enter elements of Set 1(Enter 0 to terminate set 1) :  0

Set 1 completed

enter elements of Set 2(Enter 0 to terminate set 2) :  2
enter elements of Set 2(Enter 0 to terminate set 2) :  9
enter elements of Set 2(Enter 0 to terminate set 2) :  8
enter elements of Set 2(Enter 0 to terminate set 2) :  4
enter elements of Set 2(Enter 0 to terminate set 2) :  2
enter elements of Set 2(Enter 0 to terminate set 2) :  0

union :  {'4', '1', '9', '8', '2'}
Intersection :  {'9', '8'}
difference :  {'1'}

#### 29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [5]:
def counTup(t1,a):
    count=0
    for x in t1:
        if(x==a):
            count+=1
    return count

t1=(1,2,3,1,1,3,3,4,2,1,4,5)
counTup(t1,1)

4

#### 30. Develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of these two sets.

In [7]:
def Symmetric_difference(s1,s2):
    return s1^s2

s1=set()
n=input("enter elements of Set 1(Enter 0 to terminate set 1) : ")
while(n!="0"):
    s1.add(n)
    n=input("enter elements of Set 1(Enter 0 to terminate set 1) : ")
    
print("Set 1 completed")

s2=set()
n=input("enter elements of Set 2(Enter 0 to terminate set 2) : ")
while(n!="0"):
    s2.add(n)
    n=input("enter elements of Set 2(Enter 0 to terminate set 2) : ")
    
Symmetric_difference(s1,s2)

enter elements of Set 1(Enter 0 to terminate set 1) :  my
enter elements of Set 1(Enter 0 to terminate set 1) :  name
enter elements of Set 1(Enter 0 to terminate set 1) :  is
enter elements of Set 1(Enter 0 to terminate set 1) :  rahul
enter elements of Set 1(Enter 0 to terminate set 1) :  singh
enter elements of Set 1(Enter 0 to terminate set 1) :  0

Set 1 completed

enter elements of Set 2(Enter 0 to terminate set 2) :  rahul
enter elements of Set 2(Enter 0 to terminate set 2) :  singh
enter elements of Set 2(Enter 0 to terminate set 2) :  plays
enter elements of Set 2(Enter 0 to terminate set 2) :  cricket
enter elements of Set 2(Enter 0 to terminate set 2) :  0

{'cricket', 'is', 'my', 'name', 'plays'}

#### 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [8]:
def freq(l):
    d={}
    for x in l:
        if x in d:
            d[x]+=1
        else:
            d[x]=1
    return d

l=["rahul", "Singh", "rahul", "is", "my" ,"name","and","is" ,"are", "my","name" ,"rahul"]
freq(l)

{'rahul': 3, 'Singh': 1, 'is': 2, 'my': 2, 'name': 2, 'and': 1, 'are': 1}

#### 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys the values should be added together.

In [9]:
def combineDict(d1,d2):
    d={}
    for x in d1:
        d[x]=d1[x]
    for x in d2:
        if x in d:
            d[x]+=d2[x]
        else:
            d[x]=d2[x]
    return d

d1={'rahul': 3, 'Singh': 1, 'is': 2, 'my': 2, 'name': 2, 'and': 1, 'are': 1}
d2={'rahul': 3, 'Singh': 1, "apple" :2, "Mango" : 1 , "banana" : 5}
combineDict(d1,d2)

{'rahul': 6,
 'Singh': 2,
 'is': 2,
 'my': 2,
 'name': 2,
 'and': 1,
 'are': 1,
 'apple': 2,
 'Mango': 1,
 'banana': 5}

#### 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input and return the corresponding value. If any of the keys do not exist in the dictionary the function should return None.

In [14]:
def retValue(d,li):
    l=[]
    for x in li:
        if x in d:
            l.append(d[x])
        else:
            l.append( None)
    return l            
d={'rahul': 3, 'Singh': 1, 'is': 2, 'my': 2, 'name': 2, 'and': 1, 'are': 1}
l=["rahul", "Singh", "is", "my"]
retValue(d,l)

[3, 1, 2, 2]

#### 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

#### 35.  Write a code that inverts a dictionary swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the kays as a list in the inverted dictionary.

In [17]:
def invert_dict(d):
    inverDict = {}
    
    for key, value in d.items():
        if value not in inverDict:
            inverDict[value] = [key]  
        else:
            inverDict[value].append(key)  

    return inverDict

d={'rahul': 3, 'Singh': 1, 'is': 2, 'my': 2, 'name': 2, 'and': 1, 'are': 1}
invert_dict(d)

{3: ['rahul'], 1: ['Singh', 'and', 'are'], 2: ['is', 'my', 'name']}